streamlit==1.39.0
requests==2.32.3
Pillow==10.4.0
openai==1.52.0
transformers==4.46.0
torch==2.5.0
moviepy==1.0.3
opencv-python==4.10.0.84
python-dotenv==1.0.1
beautifulsoup4==4.12.3
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.12
